// Keyboard Setup
input {
  keyboard {
    xkb {
    }
  }
  touchpad {
    // off
    tap
    natural-scroll
  }
  mouse {
    off
  }
  trackpoint {
    off
  }
}

// Layout Setup
layout {
  gaps 4
  center-focused-column "never"
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }
  default-column-width { proportion 1.0; }
  focus-ring {
    width 4
    active-color "#7fc8ff"
    inactive-color "#505050"
  }
  border {
    off
  }
  shadow {
    off
  }
}

// Auto Startup
// spawn-at-startup "waybar" // Dependency: waybar

// Animation
animations {
  // off
  slowdown 1.0
}

// Window Rules
window-rule {
  geometry-corner-radius 4
  clip-to-geometry true
}
window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

// Keybindings
binds {
  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Return hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; } // Dependency: foot
  Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; } // Dependency: fuzzel
  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
  XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioPause allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }
  Mod+Shift+Space repeat=false { toggle-overview; }
  Mod+Shift+Q repeat=false { close-window; }
  Mod+H { focus-column-left; }
  Mod+L { focus-column-right; }
  Mod+Shift+H { move-column-left; }
  Mod+Shift+L { move-column-right; }
  Mod+Comma { focus-monitor-left; }
  Mod+Period { focus-monitor-right; }
  Mod+Shift+Comma { move-column-to-monitor-left; }
  Mod+Shift+Period { move-column-to-monitor-right; }
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-column-width-back; }
  Mod+F { maximize-column; }
  Mod+Shift+F { toggle-window-floating; }
  Mod+Minus { set-column-width "-5%"; }
  Mod+Equal { set-column-width "+5%"; }
  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }
  Mod+Shift+E { quit; }
}
